/* importing fonts */
@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/SourceSansPro-Italic.ttf");
    font-style:italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../font/SourceSansPro-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/SourceSansPro-LightItalic.ttf");
    font-weight: 300;
    font-style:italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/SourceSansPro-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../font/SourceSansPro-BoldItalic.ttf");
    font-weight: 600;
    font-style:italic;
}
/* basic css reset */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea { 
    font-family: 'Source Sans Pro', sans-serif; 
}
a { 
    text-decoration: none; 
}
img { 
    max-width: 100%; 
    height:auto; 
}
.post-content iframe{
    width:100%;
    height:350px;
}
.post-content, .post-content p{
    font-size:16px !important;
}
.post-content img{
    max-width:100%;
    height:auto;
    margin:0px !important;
}
.post-content a{
    margin:0px !important;
}
/**/
.item-cat-custom{
    min-height: 52px !important;
}
.item-cat-custom img{
    top: 6px !important;
}
.post-article{
    margin-bottom:48px;
}
.item-post-main h2{
    font-size: 20px;
    margin-top: 0;
}


/*css by rajesh*/

.list .icon{
    position: absolute;
}
.inputcss{
    margin-left: 25px !important;
}
.bg-color{
    background-color: #acd435;
    height: auto !important;
    overflow: auto !important;
}
.input-item-css{
    background: transparent !important;
}
.input-item-css{
    border: 0px;
    border-bottom: 1px #292727 solid !important;
}

::-webkit-input-placeholder { /* Chrome */
    color: #292727 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #292727 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #292727 !important;
    opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #292727 !important;
    opacity: 1 !important;
}
.warning-message-normal{
    color: red !important;
}
.form-bg{
    background: #f3f8e2;
    padding: 10px;
    border-radius: 5px;
}
.button.button-light{
    border-color: #ddd !important;
    background-color: #acd435 !important;
    color: #fff !important;
    border-radius: 10px !important;
}
.color-white{
    color:#fff;
}
.invtform .item-input{
    padding: 6px;
    border: 0px;
}
.invtform .inputbrd{
    border: 1px #acd435 solid;
    padding: 10px;
    margin-left: 5px;
}
.leftside{
    width: 45px;
}
.onebtncss{
    width: 50%;
    float: left;
}
.bg-textarea{
    background: rgb(228, 239, 205);
    padding: 10px;
}




.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
.even .col{
    background-color: #e4efcd;
}
.odd .col{
    background-color: #ffffff;
}
.checkboxFour {
    width: 21px;
    height: 21px;
    background: #ddd;
    margin: 1px 10px;
    border-radius: 100%;
    position: relative;
        border: 2px #acd435 solid;
}
.checkboxFour label {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background: #fff;
}
.checkboxFour input[type=radio], input[type=checkbox] {
    margin: 0;
    line-height: normal;
    margin-left: 4px;
    margin-top: 4px;
    display: none;
}
.checkboxFour input[type=checkbox]:checked + label {
    background: #000000;
}