<?xml version='1.0' encoding='utf-8'?>
<widget id="hu.dpal.starter" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Facebook-demo</name>
    <description>
        Sample PhoneGap / Cordova application built with Angular and Ionic Framework, uses RequireJS for loading scripts. Example controllers, filters, services, directives and config.
    </description>
    <author email="" href="http://dpal.hu">
        Domonkos Pal
    </author>
    <content src="index.html" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
    </feature>
    <preference name="ShowSplashScreen" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="false" />
    <icon src="resources/icon/app-icon-80.png" />
    <splash src="resources/android/icon/icon-36.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="resources/android/icon/icon-36.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="resources/android/icon/icon-48.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="resources/android/icon/icon-72.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="resources/android/icon/icon-96.png" />
    <icon gap:platform="ios" height="57" src="resources/ios/icon/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="resources/ios/icon/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="resources/ios/icon/icon-114.png" width="114" />
    <icon gap:platform="ios" height="144" src="resources/ios/icon/icon-114.png" width="144" />
    <icon gap:platform="webos" src="resources/ios/icon/icon-72.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="resources/android/splash/splace-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="resources/android/splash/splace-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="resources/android/splash/splace-screen.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="resources/android/splash/splace-screen.png" />
    <gap:splash gap:platform="ios" height="480" src="resources/splash/ios/splace-screen.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="resources/splash/ios/splace-screen.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="resources/splash/ios/splace-screen.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="resources/splash/ios/splace-screen.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="resources/splash/ios/splace-screen.png" width="1024" />
    <access origin="*" />
    <engine name="ios" spec="^4.4.0" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.0.3" />
    <plugin name="cordova-plugin-facebook4" spec="^1.9.1">
        <variable name="APP_ID" value="1749439122016304" />
        <variable name="APP_NAME" value="Happenspances" />
    </plugin>
</widget>
